[Unit]
Description=GlusterFS
After=docker.service

[Service]
Restart=always
RestartSec=1m

TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i

ExecStart=/bin/bash -c "/usr/bin/docker run \
  --cap-add=SYS_ADMIN \
  --name %p-%i \
  -v /media/glusterfs/:/media/ \
  petrjanda/glusterfs"

ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Conflicts=%p@%i.service
