[Unit]
Description=GlusterFS
After=docker.service
After=spark-worker@%i.service
Requires=flanneld.service
After=flanneld.service

[Service]
Restart=always
RestartSec=1m

TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i

ExecStart=/bin/bash -c "/usr/bin/docker run \
  --cap-add=SYS_ADMIN \
  --name %p-%i \
  -e ETCD_URL=${COREOS_PUBLIC_IPV4}:4001 \
  -v /media/glusterfs \
  petrjanda/glusterfs"

ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
MachineOf=spark-worker@%i.service
Conflicts=%p@*.service
