[Unit]
Description=GlusterFS Client
After=docker.service

Requires=flanneld.service
After=flanneld.service

[Service]
Restart=always
RestartSec=1m

TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i

ExecStart=/bin/bash -c "/usr/bin/docker run \
  --privileged=true \
  --name %p-%i \
  -e GLUSTERFS_HOST=$(/usr/bin/etcdctl get /services/glusterfs/${COREOS_PRIVATE_IPV4}) \
  -e GLUSTERFS_VOL_NAME=vol1 \
  -v /media/gfs \
  petrjanda/glusterfs-client"

ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
MachineOf=glusterfs@%i.service
Conflicts=%p@*.service
