[Unit]
Description=Jupyter
After=docker.service
Requires=flanneld.service
After=flanneld.service

[Service]
Restart=always
RestartSec=1m

TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p

ExecStart=/bin/bash -c "/usr/bin/docker run \
  -p 8888:8888 \
  --name %p \
  -v /media/ebs:/var/data/ebs/ \
  petrjanda/jupyter \
  /bin/bash -c 'jupyter notebook --generate-config; jupyter notebook --ip 0.0.0.0 --notebook-dir /var/data/ebs/' \
"

ExecStop=/usr/bin/docker stop %p
